/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           s
*           m
*           l
*           xl
*           xxl
*           3xl
*
* This project follow the logic of responsive-design
*/
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

/*
* Google Font: Comforter Brush
* url: https://fonts.google.com/specimen/Comforter+Brush
* font-family: 'Comforter Brush', cursive;
*/
.no-bullet-point {
  list-style: none; }

.logo {
  font-size: 5rem;
  font-family: 'Comforter Brush', cursive; }

.font-normal {
  font-size: 1.6rem; }

.link-no {
  text-decoration: none;
  color: #000; }

.link-load {
  position: relative;
  text-decoration: none;
  color: #000; }
  .link-load::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F55D3E;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; }
  .link-load:hover::before {
    visibility: visible;
    transform: scale(1); }

.footer {
  position: relative;
  height: auto;
  min-height: 30vh;
  border: 1px solid #000; }
  .footer__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer__signature {
    font-size: 1.6rem; }
  .footer__heart {
    font-size: 2.5rem;
    color: #f00; }
  .footer__sign {
    font-weight: 900; }

.nav {
  padding: 2rem;
  text-align: center;
  border: 1px solid #000; }
  @media only screen and (max-width: 1199px) {
    .nav {
      border: 0; } }
  .nav__wrap {
    position: relative; }
  .nav__input {
    display: none; }
    @media only screen and (max-width: 1199px) {
      .nav__input {
        display: block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        opacity: 0;
        z-index: 2; }
        .nav__input:checked ~ .nav__menu {
          display: block; }
        .nav__input:checked ~ .nav__cross {
          display: block;
          text-align: left;
          font-size: 3rem; }
        .nav__input:checked ~ .nav__span {
          display: none; } }
  .nav__cross {
    display: none; }
  .nav__span {
    display: none; }
    @media only screen and (max-width: 1199px) {
      .nav__span {
        display: block;
        width: 3rem;
        height: .5rem;
        margin-bottom: .5rem;
        background-color: #000;
        z-index: 1; } }
  .nav__menu {
    font-size: 2rem; }
    @media only screen and (max-width: 1199px) {
      .nav__menu {
        display: none; } }
  .nav__item {
    display: inline-block;
    padding: 1rem; }
    @media only screen and (max-width: 1199px) {
      .nav__item {
        display: block; } }
